@if (race$ | async; as race) {
  @defer (when teams$ | async) {
    @if (teams$ | async; as teams) {
      <ng-template #emptyTpl>
        <nz-empty [nzNotFoundContent]="notFoundContent">
          <ng-template #notFoundContent>
            No teams registered on this race yet <br><br>
            <button nz-button nzType="primary" (click)="registerTeam.emit()">Register teams</button>
          </ng-template>
        </nz-empty>
      </ng-template>
      @if (teams.length > 0 && (raceIsRunning$ | async)) {
        <button nz-button nzBlock nzType="primary" class="report-button" (click)="openReportForm(teams)">Report
          clear/progress
        </button>
      }
      <nz-table #teamsTable [nzData]="teams" [nzPageSize]="25" [nzNoResult]="emptyTpl" nzHideOnSinglePage>
        <thead>
        <tr>
          @for (column of columns$ | async; track column.name) {
            @if (column.filterFn) {
              @if (column.possibleValues) {
                <th [nzSortFn]="column.comparator" [nzSortPriority]="column.priority"
                    [nzFilters]="column.possibleValues || []" [nzFilterFn]="column.filterFn || null">
                  {{ column.name }}
                </th>
              }
            } @else {
              <th [nzSortFn]="column.comparator" [nzSortPriority]="column.priority">{{ column.name }}</th>
            }
          }
          @if (!race.stopped && (userIsTracker$ | async)) {
            <th>
            </th>
          }
        </tr>
        </thead>
        <tbody>
          @for (team of teamsTable.data; track team.$key) {
            <tr>
              <td>{{ team.rank }}</td>
              <td>{{ team.name }}</td>
              <td>{{ team.datacenter }}</td>
              <td>{{ team.region }}</td>
              @if (race.phases.length > 0) {
                @for (phase of race.phases; track phase; let i = $index) {
                  <td>
                    <span nz-tooltip nzTooltipTitle="GMT: {{team.clears[0]?.date | date:'medium':'GMT'}}">
                      {{ team.clears[i]?.date | date:'short' || '' }}
                      @if (team.clears[i] && userIsTracker$ | async) {
                        <button nz-button nzSize="small" (click)="editReport(team.clears[i]?.clear!)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
                        <nz-divider nzType="vertical"></nz-divider>
                        <button nz-button nzSize="small" (nzOnConfirm)="deleteReport(team.clears[i]?.clear!)" nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure?"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
                      }
                    </span>
                  </td>
                }
              } @else {
                <td>
                  <span nz-tooltip nzTooltipTitle="GMT: {{team.clears[0]?.date | date:'medium':'GMT'}}">
                  {{ team.clears[0]?.date | date:'short' || '' }}
                    @if (team.clears[0] && userIsTracker$ | async) {
                      <button nz-button nzSize="small" (click)="editReport(team.clears[0]?.clear!)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
                      <nz-divider nzType="vertical"></nz-divider>
                      <button nz-button nzSize="small" (nzOnConfirm)="deleteReport(team.clears[0]?.clear!)" nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure?"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
                    }
                  </span>
                </td>
              }
              <td>
                @if (team.streams && team.streams[0]) {
                  <a [href]="team.streams[0]" target="_blank">{{ team.streams[0] }}</a>
                } @else {
                  No
                }
              </td>
              @if (!race.stopped && (userIsTracker$ | async)) {
                <td>
                  <button nz-button nzDanger nzSize="small" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                          (nzOnConfirm)="withdrawTeam(race, team)">
                    <label nz-icon nzType="delete"></label>
                  </button>
                </td>
              }
            </tr>
          }
        </tbody>
      </nz-table>
    }
  } @loading {
    <nz-spin nzSize="large"></nz-spin>
  }
}
