<nz-row [nzGutter]="16">
  <nz-col [nzLg]="6" *ngFor="let race of races$ | async">
    <nz-card [nzCover]="bannerTpl" nzHoverable routerLink="/race/{{race.$key}}/{{race.name}}">
      <ng-template #bannerTpl>
        <img [src]="race.banner" alt="{{race.name}}'s banner">
      </ng-template>

      <h2>{{race.name}}</h2>

      <h3>{{race.type}}</h3>

      <p *ngIf="race.phases.length > 0">{{race.phases.length}} Bosses</p>

      <nz-tag>Started: {{race.start.toDate() | date:'medium'}}</nz-tag>
    </nz-card>
  </nz-col>
  <nz-col [nzLg]="8">
    <nz-card nzTitle="New race">
      <form nz-form [formGroup]="newRaceForm" class="login-form" (ngSubmit)="createRace()">
        <nz-form-item>
          <nz-form-label nzRequired>Name</nz-form-label>
          <nz-form-control nzErrorTip="Please input a name">
            <nz-input-group nzPrefixIcon="edit">
              <input type="text" nz-input formControlName="name" placeholder="Race name"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzExtra="The banner image for this race (requires name to be set first)">
            <div>
              <nz-spin [nzSpinning]="savingImage">
                <div class="flex-column gap-5">
                  <input type="file" nz-input (change)="fileChangeEvent($event)" [disabled]="!newRaceForm.value.name"/>

                  <image-cropper
                    *ngIf="imageChangedEvent"
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="21/9"
                    [resizeToWidth]="700"
                    [resizeToHeight]="300"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                  ></image-cropper>

                  <button nz-button nzBlock nzType="primary" type="button"
                          [disabled]="!croppedImage || savingImage" (click)="setBanner()">
                    Apply
                  </button>
                </div>
              </nz-spin>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Start time</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="start"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Type</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="type" nzPlaceHolder="Type of the race">
              <nz-option nzValue="Savage" nzLabel="Savage"></nz-option>
              <nz-option nzValue="Ultimate" nzLabel="Ultimate"></nz-option>
              <nz-option nzValue="Criterion (Savage)" nzLabel="Criterion (Savage)"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-divider nzOrientation="left" nzText="Phases"></nz-divider>
        <nz-form-item *ngFor="let control of newRaceForm.controls.phases.controls; let i = index">
          <nz-form-control nzErrorTip="Please input phase's name or delete this field.">
            <nz-input-group [nzAddOnAfter]="i > 0 ? removeBossTpl : ''">
              <input
                class="boss-name"
                nz-input
                placeholder="Name of the boss"
                [formControl]="control"
              />
              <ng-template #removeBossTpl>
            <span
              nz-icon
              nzType="minus-circle-o"
              class="dynamic-delete-button"
              (click)="removePhase(i)"
            ></span>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button type="button" nz-button nzBlock nzType="primary" nzGhost (click)="addPhase()"><span nz-icon
                                                                                                    nzType="plus-circle"
                                                                                                    nzTheme="outline"></span>
          Add another boss
        </button>
        <nz-divider></nz-divider>
        <button nz-button [nzType]="'primary'" [disabled]="!newRaceForm.valid" nzBlock>Create a race</button>
      </form>
    </nz-card>
  </nz-col>
</nz-row>
