<nz-page-header nzTitle="Races" nzSubtitle="All the races ! Past, present and future.">
  @if(isAdmin$ | async){
    <nz-page-header-extra>
      <button nz-button nzType="primary" (click)="createRace()">
        Create a new race
      </button>
    </nz-page-header-extra>
  }
</nz-page-header>
<nz-row [nzGutter]="16">
  <nz-col [nzLg]="6" *ngFor="let race of races$ | async">
    <nz-card [nzCover]="bannerTpl" nzHoverable routerLink="/race/{{race.$key}}/{{race.name}}">
      <ng-template #bannerTpl>
        <img [src]="race.banner" alt="{{race.name}}'s banner">
      </ng-template>

      <h2>{{race.name}}</h2>

      <h3>{{race.type}}</h3>

      <p *ngIf="race.phases.length > 0">{{race.phases.length}} Phases</p>

      <nz-tag>Started: {{race.start.toDate() | date:'medium'}}</nz-tag>
    </nz-card>
  </nz-col>
</nz-row>
