h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Vollkorn", serif;
  margin-top: 50px;
}

.race-row {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background: rgb(147, 25, 57);
  background: linear-gradient(180deg, rgba(147, 25, 57, 1) 0%, rgba(90, 14, 35, 1) 100%);
  box-shadow: 5px 7px 15px -3px #0C0C0C;

  .race-row-content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: clip;
  }

  .edit-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .race-banner {
    position: absolute;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .status > nz-tag {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #0C0C0C;
  }

  &:hover {
    box-shadow: 5px 7px 20px 0 #0C0C0C;
  }

  .name-and-type {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: end;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

    .race-name {
      font-size: 32px;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
      font-family: "Vollkorn", serif;
    }

    .race-type {
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.races {
  padding: 60px 250px;
}
