<form nz-form [formGroup]="newTeamForm" (ngSubmit)="newTeamForm.valid ? createTeam() : null">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input a name">
      <nz-form-label nzRequired>Name</nz-form-label>
      <nz-input-group>
        <input type="text" nz-input formControlName="name" placeholder="Foo fighters"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input a Datacenter">
      <nz-form-label nzRequired>Datacenter</nz-form-label>
      <nz-select formControlName="datacenter">
        @for (dc of datacenters; track dc) {
          <nz-option [nzValue]="dc" [nzLabel]="dc"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-divider nzOrientation="left" nzText="Livestreams"></nz-divider>
  @for (link of newTeamForm.value.streams; track i; let i = $index; let first = $first) {
    <nz-form-item>
      <nz-form-control nzErrorTip="Link is invalid, must follow pattern https://......">
        <nz-input-group nzSearch [nzAddOnAfter]="first ? undefined : removeLinkTpl">
          <input type="url" nz-input [formControl]="newTeamForm.controls.streams.at(i)" placeholder="https://twitch.tv/awesome_prog_team"/>
          <ng-template #removeLinkTpl>
            <button nz-button nzDanger (click)="removeLink(i)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  }
  <button nz-button nzBlock (click)="addLink()" type="button">+ Add link</button>
  <!--  <nz-divider nzOrientation="left" nzText="Members"></nz-divider>-->
  <!--  <nz-list nzSize="small" class="members-list">-->
  <!--    @for (member of newTeamForm.value.members; track member; let index = $index; let last = $last) {-->
  <!--      @if (member | character | async; as c) {-->
  <!--        @if (!c.notFound) {-->
  <!--          <nz-list-item [nzExtra]="removeMemberTpl" [class.last]="last">-->
  <!--            <nz-list-item-meta [nzTitle]="c.Character.Name" [nzDescription]="c.Character.World"-->
  <!--                               [nzAvatar]="c.Character.Avatar">-->
  <!--            </nz-list-item-meta>-->
  <!--          </nz-list-item>-->
  <!--          <ng-template #removeMemberTpl>-->
  <!--            <button nz-button nzDanger (click)="removeMemberFromForm(index)" nzSize="small">-->
  <!--              <span nz-icon nzType="delete" nzTheme="outline"></span>-->
  <!--            </button>-->
  <!--          </ng-template>-->
  <!--        }-->
  <!--      }-->
  <!--    }-->
  <!--  </nz-list>-->
  <!--  <nz-divider nzText="Add a new member" nzOrientation="left"></nz-divider>-->
  <!--  <nz-form-item>-->
  <!--    <nz-form-control>-->
  <!--      <nz-input-group [nzSuffix]="addTpl">-->
  <!--        <input-->
  <!--          nz-input-->
  <!--          type="number"-->
  <!--          placeholder="Member's lodestone ID"-->
  <!--          [(ngModel)]="newMember"-->
  <!--          [ngModelOptions]="{standalone: true}"-->
  <!--        />-->
  <!--      </nz-input-group>-->
  <!--      <ng-template #addTpl>-->
  <!--        <button type="button" nz-button nzType="primary" nzSearch (click)="addMember()"-->
  <!--                [disabled]="(newMember | character | async)?.notFound">-->
  <!--          <span nz-icon nzType="plus-circle" nzTheme="outline"></span>-->
  <!--        </button>-->
  <!--      </ng-template>-->
  <!--      @if(newMember | character | async; as preview){-->
  <!--          <nz-list>-->
  <!--            <nz-list-item class="preview">-->
  <!--              @if(preview.notFound){-->
  <!--                <nz-list-item-meta nzTitle="Preview" nzDescription="Enter a valid lodestone ID to get a preview here">-->
  <!--                </nz-list-item-meta>-->
  <!--              } @else {-->
  <!--                <nz-list-item-meta [nzAvatar]="preview.Character.Avatar" [nzTitle]="preview.Character.Name" [nzDescription]="preview.Character.World">-->
  <!--                </nz-list-item-meta>-->
  <!--              }-->
  <!--            </nz-list-item>-->
  <!--          </nz-list>-->
  <!--      }-->
  <!--    </nz-form-control>-->
  <!--  </nz-form-item>-->

  <nz-divider></nz-divider>
  <button nz-button type="submit" [nzType]="'primary'" [disabled]="!newTeamForm.valid" nzBlock>Create a team</button>
</form>
