<div class="container">
  @defer (when race$ | async) {
    @if (race$ | async; as race) {
      <div nz-flex nzAlign="center" nzJustify="center" [nzVertical]="true">
        <div>
          @switch (status$ | async) {
            @case ("Running") {
              Running since {{ race.start.toDate() | date:'short' }}
            }
            @case ("Planned") {
              Starting {{ race.start.toDate() | date:'short' }}
            }
            @case ('Stopped') {
              Started {{ race.start.toDate() | date:'short' }}
              Ended {{ race.stopped?.toDate() | date:'short' }}
            }
          }
          - {{ race.type | uppercase }}
        </div>
        <h1>{{ race.name | uppercase }}</h1>
        @if (!race.stopped) {
          <div nz-space>
            @if (userIsTracker$ | async) {
              <button *nzSpaceItem nz-button nzType="primary" (click)="registerTeam(race)" class="register-button">Register teams</button>
            }
            @if ((isAdmin$ | async)) {
              <button *nzSpaceItem nz-button nzDanger nzType="primary" nz-popconfirm
                      nzPopconfirmTitle="Are you sure? This cannot be undone" (nzOnConfirm)="stopRace(race)">Stop
              </button>
            }
          </div>
        }
        <app-leaderboard [race]="race" (registerTeam)="registerTeam(race)"></app-leaderboard>
      </div>
    }
  } @loading {
    <nz-spin nzSize="large"></nz-spin>
  }
</div>
