<nz-layout class="layout">
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/" nzMatchRouter nzMatchRouterExact>HOME</li>
      <li nz-menu-item routerLink="/races" nzMatchRouter>RACES</li>
      @if (auth.userIsTracker$ | async) {
        <li nz-menu-item routerLink="/teams" nzMatchRouter><span nz-icon nzType="team" nzTheme="outline"></span> TEAMS</li>
        <li nz-menu-item routerLink="/reports" nzMatchRouter><nz-badge [nzCount]="(reportsCount$ | async) || 0" [nzOffset]="[10,0]"><span nz-icon nzType="audit" nzTheme="outline"></span> <span>REPORTS</span></nz-badge></li>
        <li nz-menu-item routerLink="/history" nzMatchRouter><span nz-icon nzType="file-sync" nzTheme="outline"></span> <span>HISTORY</span></li>
      }
    </ul>
    <div class="spacer"></div>
    @if (auth.loggedIn$ | async) {
      @if (character$ | async; as c) {
        <div nz-flex nzAlign="center" nzGap="small">
          <nz-avatar [nzSrc]="c.Character.Avatar"></nz-avatar>
          <div class="character-name">
            {{ c.Character.Name }}<br>
            {{ c.Character.World }}
          </div>
          <button nz-button nzDanger (click)="signOut()">SIGN OUT</button>
        </div>
      }
    }
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    &copy; MogTalk All Rights Reserved | Contact: <a href="mailto:frostyffxiv@gmail.com">frostyffxiv&#64;gmail.com</a>
  </nz-footer>
</nz-layout>
