.home-container {
  background: #0C0C0C;
  padding: 30px 80px;

  .main-logo {
    max-height: 300px;
  }

  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .mogtalk {
      height: 200px;
    }

    .x {
      height: 46px;
      margin-top: 20px;
    }

    .charity {
      height: 120px;
      padding-bottom: 20px;
    }
  }
}

.sponsors {
  margin-top: 50px;
  padding: 20px 40px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .sponsor-logo {
    max-height: 100px;

    &.with-shadow {
      filter: drop-shadow(0 0 5px white);
    }
  }
}

.race-container {
  padding-top: 100px;
  min-height: calc(100vh - 64px);
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(147, 25, 57, .6) 0%, rgba(90, 14, 35, .6) 100%);

  app-leaderboard {
    margin-top: 20px;
    width: 60vw;
    display: block;
  }

  .current-race {
    margin: 0;
    font-weight: 300;
  }

  .clear-progress {
    font-size: 50px;
    font-weight: bold;
    font-family: "Vollkorn", serif;
  }
}
